[Unit]
Description=Exhibitor
Before=
After=network.target

[Service]
User=zookeeper
EnvironmentFile=-/etc/sysconfig/exhibitor
WorkingDirectory={{ exhibitor.data_dir }}
ExecStart=/usr/local/java8/bin/java -jar {{ exhibitor_dir }}/exhibitor-standalone.jar -c file --fsconfigdir {{ exhibitor_shared_conf_dir }}
Restart=on-abort

[Install]
WantedBy=multi-user.target
