[Unit]
Description=Kafka
Before=
After=network.target

[Service]
User=kafka
Environment=JAVA_HOME=/usr/local/java8
CHDIR= {{ kafka.data_dir }}
ExecStart={{ kafka_dir }}/bin/kafka-server-start.sh {{ kafka_dir }}/config/real-server.properties
Restart=on-abort

[Install]
WantedBy=multi-user.target
