start on filesystem or runlevel [2345]
stop on shutdown

console output

respawn
respawn limit 5 10

env USER=zookeeper

chdir {{ zk.data_dir }}

expect daemon

script
  . /etc/sysconfig/zookeeper
  exec su -c "{{ zk_dir }}/bin/zkServer.sh start" $USER
end script
